Django==4.1.3
djangorestframework
psycopg2-binary 
python-dotenv
django-cors-headers
django_redis
requests
eth-account
web3
djangorestframework_simplejwt
django-cloudinary-storage 
pillow
cloudinary
pytest
pytest-django