djangorestframework
psycopg2-binary 
django-cors-headers
django_redis
requests
djangorestframework_simplejwt
django-cloudinary-storage 
pillow
cloudinary
pytest
pytest-django
pyjwt
djangorestframework-gis
Django==5.1
gunicorn
django-environ
pytest-factoryboy 
factory_boy
paystackapi